import tkinter as tk
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

def e_sch():
    autoIn(1)

def e_le():
    autoIn(2)

def win():
    window = tk.Tk()
    window.title('PU_EASY')
    window.geometry("300x100+250+150")
    mylabel = tk.Label(window, text='請先至account.txt更改帳號密碼\n注意，請只改後面預先輸入的範例位置\n否則會出錯')
    mylabel.pack()
    # 建立按鈕
    button = tk.Button(window,          # 按鈕所在視窗
                       text='開啟e校園',  # 顯示文字
                       command=e_sch)  # 按下按鈕所執行的函數

    button_2 = tk.Button(window,          
                         text='開啟e_learning',  
                         command=e_le)
    button.pack()
    button_2.pack()

    window.mainloop()


def autoIn(a):

    file = open("account.txt", "r")

    username = file.readlines()[0][9:][:-1]
    file.close()
    file = open("account.txt", "r")
    password = file.readlines()[1][9:]
    file.close()


    if(a == 1):
        driver = webdriver.Chrome()
        driver.get('https://alcat.pu.edu.tw/')

        time.sleep(1)

        un = driver.find_element(By.NAME, "uid")
        pas = driver.find_element(By.NAME, "upassword")
        un.send_keys(username)
        pas.send_keys(password)
        button = driver.find_element(By.CLASS_NAME, "btn-primary")
        button.click()
        s = input()

    elif(a == 2):
        driver = webdriver.Chrome()
        driver.get('https://elearning.pu.edu.tw/mooc/login.php')

        time.sleep(1)

        un = driver.find_element("name", "username")
        pas = driver.find_element("name", "password")
        un.send_keys(username)
        pas.send_keys(password)
        button = driver.find_element("id", "btnSignIn")
        print(username+" "+password)
        button.click()
        s = input()
    else:
        print("無此選項")

def main():
    win()

main()
